* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.top-brand {
    display: block;
}

.top-brand a {
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    display: block;
    margin: 10px;
}